<!DOCTYPE html>
<html>
<head>
	<title>Following</title>
	<style type="text/css">
		*{
			background: rgb(13 17 23);
			color: white;
			font-family: sans-serif;
			letter-spacing: 1px;
		}
		ul li
		{
			margin-top: 10px;
			font-size: 20px;
			color: dodgerblue;
		}
		ul li a
		{
			text-decoration: none;
		}
	</style>
</head>
<body>
	<h1>Following({{following}})</h1>
	<hr>
	<ul>
		{% for following in all_following %}
			<li><a href="{% url 'profile' following.name %}">{{following}}</a></li>
		{% endfor %}
	</ul>
</body>
</html>